.container {
  margin-top: 85px;
  overflow-y: hidden;
  overflow-x: hidden;
  ul {
    list-style: none;
    text-align: center;
  }
}

.divider {
  background-color: rgb(230, 230, 230);
  border: 0.001px solid rgb(230, 230, 230);
  margin: 1.3em;
}
.botText {
  margin-top: 20px;
}
