.container {
  margin-top: 85px;
  overflow-y: hidden;
  overflow-x: hidden;
  ul {
    list-style: none;
    text-align: center;
  }
}

.divider {
  background-color: #080808;
  border: 0.0001px solid #080808;
  margin: 1.3em;
}
.botText {
  margin-top: 20px;
  a {
    font-size: 0.9em;
    font-weight: 400;
    color: rgb(169, 197, 234);
    text-decoration: none;
  }
}
.butText {
  a {
    color: black;
  }
}
.textF {
  background-color: #151518;
  border-radius: 5px;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #18181b inset !important;
  }
  input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
  }
}
.botText2 {
  a {
    font-size: 0.9em;
    font-weight: 400;
    color: rgb(169, 197, 234);
    text-decoration: none;
  }
}
