@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/base";

@layer base {
  :any-link {
    font-weight: 700;
    color: rgb(169, 197, 234);
    text-decoration: none;
  }
  li {
    display: list-item;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #000000 inset !important;
    -webkit-text-fill-color: #ffff !important;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
}
